#app
	form(action="javascript:void(0);")
		label User filter
		h6 Search by NAME / CITY / COUNTRY 
		input(type="text" id="filter" placeholder="search")
	.opWRAP
		#output

footer
	a(href="https://codepen.io/coding_anish", target="_blank", onclick="void(0);")
		i.fab.fa-codepen
	a(
		href="https://twitter.com/sisyphus_coding",
		target="_blank",
		onclick="void(0);"
	)
		i.fab.fa-twitter